@{
    ViewBag.Title = "Home Page";
    //if (Session["user"]== null)
    //{
    //    Response.Redirect("~/Cart");
    //}
}
@model HungryPanda.ViewModels.CityAndAreaViewModel

<div class="container-fluid" id="cover-pic">
    <div class="row container">
        <div class="col-md-12">
            <h1 class="main-text">
                Order Now From your Favoirate
                <br> Local Resturant.
            </h1>





        </div>
    </div>
    @using (Html.BeginForm("ResturantList", "Home", FormMethod.Post, new { }))
    {
        <div class="row" style="text-align:center; margin-top: 5%">
            <div class="col-md-4">
                <div class="input-group-lg">


                    <select name="city" class="custom-select btn-block target1" id="inputGroupSelect04">
                        <option value="-1" selected="selected">City</option>
                        @foreach (var cities in Model.Cities)
                        {
                            <option value="@cities.Id">@cities.Name</option>

                        }

                    </select>

                </div>

            </div>
            <div class="col-md-4">
                <select name="area" class="custom-select btn-block targetAreas" id="inputGroupSelect04"></select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-dark btn-block" type="submit">Start</button>



            </div>


        </div>

    }






</div>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@section scripts {

    <script type="text/javascript">

    $(document).ready(function () {
 
        $('.target1').on('change', function () {
            var cityId = $('.target1 option:selected').val();

            $.ajax({
                type: 'GET',
                data: { cityId: cityId },
                url: '@Url.Action("LoadAreas","Home")',
                success: function (result) {
                     var a = '<option value="-1"> Area</option>';
                    for (var i = 0; i < result.length; i++) {
                        a += '<option value="' + result[i].Id + '">' + result[i].Name + '</option>';

                    }
                    $('.targetAreas').html(a);
                }
            });

        });

    });

    </script>


}

